@model Project.Models.Medicamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitMedicamentoPos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitMedicamentoPos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdLaboratorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdLaboratorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrAccionTerapeutica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrAccionTerapeutica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoAtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoAtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrConcentracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrConcentracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrEan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrEan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreGenerico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreGenerico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPresentacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPresentacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPrincipioActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPrincipioActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrRegistroInvima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrRegistroInvima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUnidadMedida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
